# --- Godot ---
.godot/
*.translation
*.import
export_presets.cfg
/android/

# --- .NET / C# ---
# Ignore all bin and obj folders recursively
[Bb]in/
[Oo]bj/
# Visual Studio / Rider / VS Code cache
.vs/
.vscode/
.idea/
*.user
*.userosscache
*.sln.docstates
*.suo

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Project Specific ---
Engine/Debug/*.log
*.tmp

# Godot UID files
*.uid